
{% extends 'base.html' %}
{% block service %}
        <!-- Services Start -->
        <div class="container-fluid service py-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                    <h5 class="display-5 text-capitalize mb-5" style="font-size: 40px;">BFLC-SARL <span class="text-primary"> Nos Services</span></h3>
                    <p class="mb-0">Nous vous présentons nos differents services.
                    </p>
                </div>
                <div class="row g-4">
                    {%for reqs in req%}
                    <div class="col-lg-12 col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item p-4">
                          
                                <div class="service-icon mb-4">
                                    <i class="fa fa-road fa-2x"></i>
                                </div>
                                <div class="ms-4">
                                    <h5 class="mb-3">{{reqs.titres}}</h5>
                                    <p class="mb-0">{{reqs.descriptions}}</p>
                                </div>
                            
                        </div>
                    </div>
                    {% endfor %}
                                                            
                </div>
            </div>
        </div>
        <!-- Services End -->
        {%endblock%}